{% extends 'student_base.html' %}

{% block content %}   
<h2>Messages</h2>

<div class="chatbox">
    
    {% for a in mess1 %}
    {% if a.from_user == request.user %}
    <div>
        <p dir=rtl><span class="light">{{ a.from_user }}</span><br><span class="container">{{ a.message }}</span><br>       
        <span class="light">{{ a.created_at }}</span></p> 
    </div>
        {% else %}
    <p dir=ltr><span class="light">{{ a.from_user }}</span><br><span class="container">{{ a.message }}</span><br>       
        <span class="light">{{ a.created_at }}</span></p> 
    {% endif %}
    {% endfor %}
</div>   
<form id="msg" class="form" action="" method="post">
    {% csrf_token %}      
    {{ msg_form1.as_p }}
    <input  type="submit" name="submit" id="submit" class="btn btn-info btn-md" value="send">   
</form>
          
{% endblock %}  
   