{% extends 'teacher_base.html' %}
{% block content %}   
<h1>List of Students</h1>
<div class="w3-container">
       
        <table id=table1 border=1>
        <tr>
        <th width="200">Name</th>
        <th width="200">Description</th>
        </tr>
        
        {% for stu in stud %}
        <tr>
        <td>{{ stu.username }}</td>
        <td><a href="{% url 'assignment' stu.id %}"><button type="button" class="button">Send Assignment</button></a>
        </td>
        </tr>
        {% endfor %}
        </table>

</div>
{% endblock %}  
   