{% extends 'student_base.html' %}
{% block content %}   
<h1>users</h1>
<div class="w3-container">
       
        <table id=table1 border=1>
        <tr>
        <th width="200">Name</th>
        <th width="200"></th>
        </tr>
        
        {% for user in users %}
        <tr>
        <td>{{ user.username }}</td>
        <td><a href="{% url 'message_post_student' user.id %}"><button type="button" class="button">post</button></a>

        </td>
        </tr>
        {% endfor %}
        </table>

</div>
{% endblock %}  
   