{% extends 'student_base.html' %}
{% block content %}   
<h1>List of Teachers</h1>
<div class="w3-container">
       
        <table id=table1 border=1>
        <tr>
        <th width="200">Name</th>
        <th width="200"></th>
        </tr>
        
        {% for tea in teach %}
        <tr>
        <td>{{ tea.username }}</td>
        <td>
        {% if not teacher_id == request.user.id %}
        {% if errors %}<p>{{ errors|join:", " }}</p>{% endif %}
        <form method="post" action="{% url 'request_teacher' tea.id %}">
        {% csrf_token %}
        <input type="hidden" name="to_username" value="{{ teacher_id }}" />

        <button type="submit" class="button">Send Request</button>
        </form>
        {% endif %}
        </td>
        </tr>
        {% endfor %}
        </table>

</div>
{% endblock %}  
   